body {
    display: flex;
}

.container  {
    margin: 200px auto;
    display: flex;
    flex-direction: row;
}

.task-list {
    border: 1px solid black;
    margin-right: 10px;
    width: 300px;
}

.task-list:last-child {
    margin-right: 0;
}

.list {
    list-style: none;
}

.invalid {
    display: none;
}

.list-item-container {
    width: 200px;
    margin: 0;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.list-item-btn {
    width: 10%;
    height: 15px;
}

.item-text {
    width: 90%;
}

.list-item {
    margin: 10px 0 0 0;
}

